#product{
    display: flex;
    flex-direction: column;
	flex-wrap: nowrap;
	margin-left: 8px;
	margin-right: 8px;
}
section{
    display: flex;
    flex-wrap: nowrap;
    border: 2px solid grey;
    height: 300px;
    width: 100%;
    padding: 5px;
    margin: auto;
    overflow-x: scroll;
    padding: 5px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
}
section header{
    width: 100%;
}